/* ===== Variables ===== */
:root {
  --clr-white: #fff;
  --clr-black: #000000;
  --clr-grey: #494949;
  --clr-primary: #82e6ff;
  --clr-secondPrimary: #ffa600;
  --clr-text: #242424;
  --clr-font: "Arial", "Helvetica", sans-serif;
  --mainTransition: all 0.3s linear;
}
/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--clr-font);
  line-height: 1.5;
  color: var(--clr-text);
  overflow-x: hidden;
  width: 100%;
  background: var(--clr-primary);
}
.center-container {
  margin: 0rem 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 5rem;
  color: var(--clr-secondPrimary);
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: var(--clr-text);
}
form {
  font-size: 1rem;
}
form > * {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.4rem;
}
form label {
  margin-bottom: 0;
}
form input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 0.2rem;
}
form button {
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  color: var(--clr-black);
  background: var(--clr-secondPrimary);
  border: none;
  border-radius: 1rem;
}
/* Menü */
.menue{
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.menue li {
    list-style: none;
}
.menue li a h2:hover{
    color: var(--clr-secondPrimary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.menue > * {
    width: 100%;
}
.menue-btn{
  margin: 1rem 0;
  font-weight: bold;
}
/* Game */
.game-timer{
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}
.game-cards {
  margin: 3rem auto;
  display: grid;
  width: 90vw;
  height: 90vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a0 a1 b0 b1"
    "c0 c1 d0 d1"
    "e0 e1 f0 f1"
    "g0 g1 h0 h1";
    gap: 1rem;
}
.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: url(../media/cardBack.png);
  border-radius: 1rem;
  border: 10px solid white;
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: hidden;
  border-radius: 1rem ;
  border: 10px solid white;
}
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* add to card class to rotate */
.rotate-card{
  transform: rotateY(180deg);
}
/* delte bin */
.bin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--clr-white);
}
/* ScoreGame Done*/
.display-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.score-container {
  background: var(--clr-white);
  height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  overflow: hidden;
}
.scores {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}
.score {
margin-bottom:  1rem;
padding: 1rem 1rem;
width: 100%;
border-radius: 1rem;
background: var(--clr-secondPrimary);
}
/* Game Done */
.gameDone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.gameDone-container {
  background: var(--clr-white);
  height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
}
.gameDone-container > * {
  width: 100%;
}
.gameDone h4 {
  line-height: 0.8;
}
.gameDone form button {
  margin: 0 auto;
}
.gameDone form input {
  font-size: 2rem;
}
/* Messages */
.message {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.336);
  height: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 1s;
  opacity: 0;
}
.show-message  {
  height: 2rem;
  opacity: 1;
}
@media only screen and (min-width: 768px){
  .gameDone-container,
  .score-container {
    max-width: 600px;
  }
  .center-container,
  .game-cards{
    max-width: 700px;
    max-height: 700px;
  }
}
@media only screen and (min-width: 1024px){
  .gameDone-container,
  .score-container {
    max-width: 800px;
    margin: 1rem auto;
  }
  .center-container,
  .game-cards{
    margin: 1rem auto;
    max-width: 900px;
    max-height: 900px;
  }
}